<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="yashandb" parent="oracle" class="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSQLDialect"
                 label="YashanDB" description="YashanDB SQL dialect." icon="icons/yashandb_icon.png">
            <property name="insertMethods" value="yashandbInsertIgnore"/>
        </dialect>
    </extension>

 	<extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
                class="org.jkiss.dbeaver.ext.yashandb.YashanDBDataSourceProvider"
                description="YashanDB connector"
                id="yashandb"
                label="YashanDB"
                parent="oracle"
                icon="icons/yashandb_icon.png"
                dialect="yashandb">
                
            <treeInjection path="oracle" replaceChildren="true">
                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchema" label="%tree.schemas.node.name" icon="#folder_schema" description="Database schemas">
            		<items label="%tree.schema.node.name" path="schema" property="schemas" icon="#schema">
		            	<folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTable" label="%tree.tables.node.name" icon="#folder_table" description="Tables">
			                <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
			                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableColumn" label="%tree.columns.node.name" icon="#columns" description="Table columns">
			                        <items label="%tree.column.node.name" path="column" property="attributes" icon="#column">
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="Table constraints">
			                        <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
			                            <items label="%tree.constraint_columns.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="Table foreign keys">
			                        <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
			                            <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder label="%tree.references.node.name" icon="#references" description="Table references" virtual="true">
			                        <items label="%tree.reference_key.node.name" path="referenceKey" property="references" icon="#reference" virtual="true">
			                            <items label="%tree.reference_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
			                        <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
			                            <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Table indexes">
			                        <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
			                            <items label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTablePartition" label="%tree.partitions.node.name" icon="#partitions" description="Table partitions" visibleIf="object.isPartitioned() || !object.isPersisted()">
			                        <items label="%tree.partition.node.name" path="partition" property="partitions" icon="#partition" inline="true">
			                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTablePartition" label="%tree.subpartitions.node.name" icon="#partitions" description="%tree.subpartitions.node.name">
			                                <items label="%tree.subpartition.node.name" path="subpartition" property="subPartitions" inline="true">
			                                </items>
			                            </folder>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Table dependency/dependent objects">
			                        <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                            <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBView" label="%tree.views.node.name" icon="#folder_view" description="Views">
			                <items label="%tree.view.node.name" path="view" property="views" icon="#view">
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
			                        <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column">
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="View constraints">
			                        <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
			                            <items label="%tree.constraint.node.name columns" path="column" property="attributeReferences" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Triggers">
			                        <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
			                            <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivTable" label="%tree.table_privileges.node.name" icon="#permissions" description="View Privileges" navigable="false">
			                        <items label="%tree.privilege.node.name" path="tablePrivs" property="tablePrivs" icon="#privilege">
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Table dependency/dependent objects">
			                        <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                            <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder id="materializedView" type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBMaterializedView"
			                    label="%tree.materialized_views.node.name" icon="#folder_view" description="Materialized Views">
			                <items label="%tree.materialized_view.node.name" path="view" property="materializedViews" icon="#view">
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
			                        <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column">
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="View constraints">
			                        <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">
			                            <items label="%tree.constraint.node.name columns" path="column" property="attributeReferences" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Materialized View indexes">
			                        <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
			                            <items label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivTable" label="%tree.table_privileges.node.name" icon="#permissions" description="Materialized View Privileges" navigable="false">
			                        <items label="%tree.privilege.node.name" path="tablePrivs" property="tablePrivs" icon="#privilege">
			                        </items>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Materialized View dependency/dependent objects">
			                        <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                            <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip" virtual="true">
			                <items icon="#index" label="%tree.index.node.name" path="index" property="indexes" virtual="true">
			                    <items icon="#column" label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" inline="true" navigable="false" virtual="true">
			                    </items>
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSequence" label="%tree.sequences.node.name" icon="#sequences" description="Sequences">
			                <items label="%tree.sequence.node.name" path="sequence" property="sequences" icon="#sequence">
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataType" label="%tree.types.node.name" icon="#data_types" description="Types">
			                <items label="%tree.type.node.name" path="type" property="dataTypes" icon="#data_type">
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataTypeAttribute" label="%tree.attributes.node.name" icon="#attributes" description="Type attributes" visibleIf="object.hasAttributes()">
			                        <items label="%tree.attribute.node.name" path="attribute" property="attributes" icon="#attribute"/>
			                    </folder>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataTypeMethod" label="%tree.methods.node.name" icon="#procedures" description="Type methods" visibleIf="object.hasMethods()">
			                        <items label="%tree.method.node.name" path="method" property="methods" icon="#procedure">
			                            <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="parameter" property="parameters" icon="#argument" navigable="false" inline="false"/>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPackage" label="%tree.packages.node.name" icon="#packages" description="Packages">
			                <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
			                    <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="proceduresOnly" icon="#procedure">
			                        <handler action="open" command="org.jkiss.dbeaver.ext.oracle.code.package.navigate"/>
			                        <!-- Proc arguments. Not inline because arguments reading is expensive -->
			                        <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="argument" property="parameters" icon="#argument" navigable="false" inline="false">
			                            <items label="%tree.attributes.node.name" itemLabel="%tree.attribute.node.name" path="attribute" property="attributes" icon="#attribute" navigable="false" inline="true" visibleIf="object.hasAttributes()">
			                            </items>
			                        </items>
			                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Procedure dependency/dependent objects">
			                            <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                                <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                                </items>
			                            </items>
			                        </folder>
			                    </items>
			                    <items label="%tree.functions.node.name" itemLabel="%tree.function.node.name" path="function" property="functionsOnly" icon="#function">
			                        <handler action="open" command="org.jkiss.dbeaver.ext.oracle.code.package.navigate"/>
			                        <!-- Proc arguments. Not inline because arguments reading is expensive -->
			                        <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="argument" property="parameters" icon="#argument" navigable="false" inline="false">
			                            <items label="%tree.attributes.node.name" itemLabel="%tree.attribute.node.name" path="attribute" property="attributes" icon="#attribute" navigable="false" inline="true" visibleIf="object.hasAttributes()"/>
			                        </items>
			                        <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Procedure dependency/dependent objects">
			                            <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                                <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                                </items>
			                            </items>
			                        </folder>
			                    </items>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Table dependency/dependent objects">
			                        <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                            <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder id="procedures" type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBProcedureStandalone" label="%tree.procedures.node.name" icon="#procedures" description="Procedures">
			                <items label="%tree.procedure.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="proceduresOnly" icon="#procedure" id="Procedure">
			                    <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="argument" property="parameters" icon="#argument" navigable="false" inline="false"/>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Procedure dependency/dependent objects">
			                        <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                            <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder id="functions" type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBProcedureStandalone" label="%tree.functions.node.name" icon="#functions" description="Functions">
			                <items label="%tree.function.node.name" itemLabel="%tree.function.node.name" path="function" property="functionsOnly" icon="#function" id="Function">
			                    <items label="%tree.arguments.node.name" itemLabel="%tree.argument.node.name" path="argument" property="parameters" icon="#argument" navigable="false" inline="false"/>
			                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDependency" label="%tree.dependencies.node.name" description="Function dependency/dependent objects">
			                        <items label="%tree.dependency.node.name" path="dependency" property="dependencies" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/link.svg">
			                            <items label="%tree.dependencies.node.name" path="entry" property="entries" navigable="false" inline="true">
			                            </items>
			                        </items>
			                    </folder>
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSynonym" label="%tree.synonyms.node.name" icon="#synonyms" description="Synonyms">
			                <items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger" label="%tree.table.triggers.node.name" icon="#triggers" description="Table triggers">
			                <items label="%tree.table.trigger.node.name" path="tabletrigger" property="tableTriggers" icon="#trigger">
			                    <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="columns" navigable="false" inline="false" virtual="true">
			                    </items>
			                </items>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDBLink" label="%tree.database_links.node.name" icon="#folder_link" description="Database Links (DBLinks)">
			                <items label="%tree.database_links.node.name" path="databaseLink" property="databaseLinks" icon="#link"/>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleJob" label="Jobs" icon="#scheduler_job_folder" description="Jobs">
			                <items label="Job" path="job" property="jobs" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/job_schedule.svg"/>
			            </folder>
			            <folder label="%tree.scheduler.node.name" icon="#scheduler_folder" id="schedulerFolder"
			                    description="Scheduler objects">
			                <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchedulerJob" label="%tree.scheduler.jobs.node.name" icon="#scheduler_job_folder" description="Scheduler jobs">
			                    <items label="%tree.scheduler.job.node.name" path="schedulerJob" property="schedulerJobs" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/job_schedule.svg">
			                        <items label="%tree.scheduler.job.arguments.node.name" itemLabel="%tree.scheduler.job.argument.node.name" path="argument" property="arguments" icon="#argument" navigable="false" inline="false"/>
			                    </items>
			                </folder>
			            </folder>
			            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="%tree.recycle_bin.node.name" icon="#recycle_bin" description="Recycle Bin">
			                <items label="%tree.recycled_object.node.name" path="object" property="recycledObjects" icon="#recycle_bin"/>
			            </folder>
					</items>
				</folder>	
				<folder label="%tree.global_metadata.node.name" icon="#logical" id="globalMetadataObjects"
                        description="Global metadata objects">
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataType" label="%tree.types.node.name" icon="#data_types" description="Types">
                        <items label="%tree.data_type.node.name" path="type" property="localDataTypes" icon="#data_type"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSynonym" label="%tree.public_synonyms.node.name" icon="#synonyms" description="Public synonyms">
                        <items label="%tree.synonym.node.name" path="synonym" property="publicSynonyms" icon="#synonym"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDBLink" label="%tree.public_database_links.node.name" icon="#links" description="Public database links">
                        <items label="%tree.database_link.node.name" path="databaseLink" property="publicDatabaseLinks" icon="#link"/>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRecycledObject" label="%tree.user_recycle_bin.node.name" icon="#recycle_bin" description="Current user's recycle bin">
                        <items label="%tree.recycled_object.node.name" path="object" property="userRecycledObjects" icon="#recycle_bin"/>
                    </folder>
                </folder>
                <folder label="%tree.storage.node.name" icon="#storage" id="storageManagement" description="Storage management">
                    <folder type="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTablespace" label="%tree.tablespaces.node.name" icon="#tablespaces" description="Tablespaces">
                        <items label="%tree.tablespace.node.name" path="tablespace" property="tablespaces" icon="#tablespace">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleDataFile" label="%tree.files.node.name" icon="#files" description="Data Files">
                                <items label="%tree.file.node.name" path="file" property="files" icon="#file"/>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleSegment" label="%tree.objects.node.name" icon="#segments" description="Objects (segments)">
                                <items label="%tree.segment.node.name" path="segment" property="segments" icon="#segment"/>
                            </folder>
                        </items>
                    </folder>
                </folder>
                <folder label="%tree.security.node.name" icon="#security" id="securityManagement" description="Security management">
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleUser" label="%tree.users.node.name" icon="#folder_user" description="Users">
                        <items label="%tree.user.node.name" path="users" property="users" icon="#user">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivRole" label="%tree.roles.node.name" icon="#folder_role" description="User roles" navigable="false">
                                <items label="%tree.role.node.name" path="roles" property="rolePrivs" icon="#user_group">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivSystem" label="%tree.system_privileges.node.name" icon="#permissions" description="System Privileges" navigable="false">
                                <items label="%tree.privilege.node.name" path="sysPrivs" property="systemPrivs" icon="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivObject" label="%tree.objects.node.name" icon="#permissions" description="Objects" navigable="false">
                                <items label="%tree.privilege.node.name" path="objectPriv" property="objectPrivs" icon="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleRole" label="%tree.roles.node.name" icon="#folder_role" description="Roles">
                        <items label="%tree.role.node.name" path="roles" property="roles" icon="#user_group">
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivUser" label="%tree.users.node.name" icon="#folder_user" description="Users" navigable="false">
                                <items label="%tree.user.node.name" path="userPrivs" property="userPrivs" icon="#user">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivRole" label="%tree.roles.node.name" icon="#folder_role" description="Roles" navigable="false">
                                <items label="%tree.role.node.name" path="roles" property="rolePrivs" icon="#user_group">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivSystem" label="%tree.system_privileges.node.name" icon="#permissions" description="System Privileges" navigable="false">
                                <items label="%tree.privilege.node.name" path="sysPrivs" property="systemPrivs" icon="#privilege">
                                </items>
                            </folder>
                            <folder type="org.jkiss.dbeaver.ext.oracle.model.OraclePrivObject" label="%tree.objects.node.name" icon="#permissions" description="Objects" navigable="false">
                                <items label="%tree.privilege.node.name" path="objectPriv" property="objectPrivs" icon="#privilege">
                                </items>
                            </folder>
                        </items>
                    </folder>
                    <folder type="org.jkiss.dbeaver.ext.oracle.model.OracleUserProfile" label="%tree.profiles.node.name" icon="#folder_profile" description="User profiles">
                        <items label="%tree.profile.node.name" path="profiles" property="profiles" icon="#profile">
                            <items label="%tree.resource.node.name" path="resource" property="resources" icon="#resource"/>
                        </items>
                    </folder>
                </folder>
                <folder label="%tree.administer.node.name" icon="#folder_admin" id="maintenanceSettings" description="Maintenance/Settings">
                    <treeContribution category="yashanDBConnectionEditor"/>
                </folder>		         
            </treeInjection>
    		
            <drivers managable="true">
                <driver
                        id="yashandb"
                        label="YashanDB"
                        icon="icons/yashandb_icon.png"
                        iconBig="icons/yashandb_big.png"
                        class="com.yashandb.jdbc.Driver"
                        sampleURL="jdbc:yasdb://{host}:{port}/{database}"
                        useURL="false"
                        defaultPort="1688"
                        defaultDataBase="SYS"
                        defaultUser="SYS"
                        webURL="https://doc.yashandb.com/yashandb/23.4/zh/All-Manuals/Development-Guide/JDBC-Driver/00JDBC-Driver.html"
                        description="%driver.yashandb.description"
                        categories="sql">
                    <file type="jar" path="maven:/com.yashandb:yashandb-jdbc:[LATEST]" bundle="!drivers.yashandb"/>
                    <file type="license" path="licenses/external/asl-2.0.txt"/>
                    <file type="jar" path="drivers/yashandb" bundle="drivers.yashandb"/>
                </driver>
            </drivers>
        </datasource>
    </extension>
    
    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBTableManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTable"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBTableColumnManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableColumn"/>
     	<manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBSchemaManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBSchema"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBDataTypeManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBDataType"/>
    	<manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBPackageManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBPackage"/>
        <manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBProcedureManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBProcedureStandalone"/>    
		<manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBTableTriggerManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBTableTrigger"/>
		<manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBViewManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBView"/>
		<manager class="org.jkiss.dbeaver.ext.yashandb.edit.YashanDBMaterializedViewManager"
                 objectType="org.jkiss.dbeaver.ext.yashandb.model.YashanDBMaterializedView"/>                 
    </extension>
</plugin>